.container-footer{
    display: grid;
    width: 100%;
    place-items: center;
    height: 20vh;
    background-color: black;
}
@media (max-width: 720px){
    .container-footer{
        padding-left: 10vh;
        padding-right: 10vh;
    }
}