.link-day {
  /*#E07F3F*/
  background-color: #ed9242;
  font-size: large;
  width: 60%;
  height: 60px;
  border-radius: 15px;
  display: grid;
  place-items: center;
  color: white;
}
.link-day:hover {
  transform: scale(1.1);
  color: white;
}
.title-week {
  display: grid;
  place-items: center;
  margin: 5vh 0 5vh 0;
}

.oculto2 {
  display: grid;
  place-items: center;
}
.table{
  background-color: #ed9242;
}
#allTable{
}
.serie{
  text-align: center;
  
}